html, body {
    font-family: Roboto, Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.logo {
    flex-shrink: 0;
    width: 80px;
    margin-left: 25px;
}

.search {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 640px;
    width: 100%;
    margin: 0 40px;
}

.search-input {
    flex: 1;
    width: 80px;
    height: 30px;
    padding-left: 10px;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 16px;
    transform: translateX(1px);
    opacity: 0.6;
}

.search-input:focus {
    outline: none;
    border: 1px solid #3773c0;
}

.search-button {
    width: 65px;
    height: 30px;
    opacity: 0.6;
    color: #333333;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search-button:hover {
    background-color: #f0F0F0;
    border-color: #C6C6C6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    opacity: 1;
    cursor: pointer;
}

.search-button:focus {
    outline: none;
}

.search-button svg {
    width: 24px;
    height: 24px;
}

.icon-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.icon-buttons:hover {
    cursor: pointer;
}

.icon-button {
    width: 24px;
    height: 24px;
}

.avatar-image {
    width: 32px;
    height: 32px;
    margin-right: 25px;
}

.gap {
    width: 24px;
}

/* Main video */

.main-outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-flow: row nowrap;
    width: 1112px;
    padding: 24px 24px 0px;
}

.main-video {
    margin-right: 24px;
}

.main-video iframe {
    width: 640px;
    height: calc(640px * 0.5625);
    border: 0;
}

.video-title {
    font-size: 18px;
    font-weight: 400;
    color: #0d0d0d;
}

.info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #606060;
}

.views {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.dot {
    margin: 0 4px;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    font-size: 13px;
}

.menu div {
    width: 16px;
}


.menu a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.menu a div {
    width: 8px;
}

.share-button {
    width: 4px !important;
}

.menu-icon {
    width: 20px;
    height: 20px;
    fill: #606060;
}

.channel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.channel-profile-picture {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.button {
    background-color: #cc0000;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }

/* Sidebar video recommendations */

.sidebar-video {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    text-decoration: none;
    color: #606060;   
    margin-bottom: 8px; 
}

.sidebar-video:focus {
    outline: none;
}

.sidebar-video-thumbnail {
    width: 168px;
    height: 94px;
}

.sidebar-video-title {
    font-weight: bold;
    font-size: 14px;
    color: #0d0d0d;;
}

.sidebar-video-info {
    min-width: 250px;
    margin-left: 10px;
}

.separator {
    width: 100%;
    margin: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}